.cart--full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 280px;
}
.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 100px;
}

.cart_header-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.01em;
}

.cart_cart {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart_icon {
  background-image: url('../images/icons/cart-black.svg');
  width: 30px;
  height: 30px;
  background-position: center;
  object-fit: contain;
}
.cart_item {
  display: flex;
  justify-items: space-between;
  align-items: center;
  margin: auto;
  padding: 30px 0;

  border-bottom: 1px solid #f4f4f4;
}

.cart_empty {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  padding: 0 400px;
  text-align: center;
}

.cart_empty-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  margin-bottom: 10px;

  letter-spacing: 0.01em;

  color: #000000;
}

.cart_empty-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145.4%;
  /* or 26px */

  text-align: center;
  letter-spacing: 0.01em;

  color: #777777;
}

.cart_empty-img {
  background-image: url("../images/cart/shopping-cart-colour\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
}

.cart_empty-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;

  color: #ffffff;
  background: #282828;
  border-radius: 30px;
  transition: 0.3s all ease;
}

.cart_empty-button:hover {
  background: #2828285d;
  color: #000000;
}

.cart_item-left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 300px;
}

.cart_img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.cart_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}

h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #8d8d8d;
}
.cart_delete-section {
  display: flex;
  align-items: center;
  gap: 12px;
  color:  #B6B6B6;
}
.cart_delete {
  background-image: url("../images/icons/tresh.svg");
  width: 14px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cart_item-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 50px; */
  margin-left: 70px;
  gap: 12px;
}

.cart_control {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s all ease-in;
  border: none;
  outline: none;
}

.cart_control--minus {
  background-image: url("../images/icons/minus.svg");
}

.cart_control--plus {
  background-image: url("../images/icons/plus.svg");
}

.cart_control--cross {
  margin-left: 75px;
  background-image: url("../images/icons/cross.svg");
}

.cart_control:hover {
  opacity: 0.3;
}

.cart_pizza-q {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}
.cart_item-right {
  display: flex;
}
.cart_pizza-price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
  margin-left: 100px;
}

.cart_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}

.cart_bottom-q {
  display: inline;
  font-weight: 700;
  font-size: 22px;
}

.cart_bottom-price {
  display: inline;
  font-weight: 700;
  color: #fe5f1e;
}

.cart_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.cart_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.cart_button--back {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  color: #cacaca;
  
}

.cart_button--back:hover {
  background-color: #282828;
}



.cart_button--checkout {
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
}

.cart_button--checkout:hover {
  background: #FFFFFF;
  border: 1px solid #EB5A1E;
  color:  #EB5A1E;
}
