.catalog_section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 120px;
  row-gap: 40px;
  padding: 0 40px;
  margin: auto;
}

.catalog_header {
  padding: 32px 0;
  font-size: 24px;
}
